{% extends 'base.html.twig' %}

{% block title %}New TypeCuisine{% endblock %}

{% block body %}
    <h1>Create new TypeCuisine</h1>

    {{ include('type_cuisine/_form.html.twig') }}

    <a href="{{ path('type_cuisine_index') }}">back to list</a>
{% endblock %}
