{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente - Domi'Licious{% endblock %}

{% block body %}

<section class="box-content box-2 box-style" id="menu">
			<div class="container">
				<div class="row heading">
					<h2>Conditions de vente</h2>
					<p>
						<h3>Art 1 Description de la prestation</h3>
						Domi'licious propose la préparation de dîners ou déjeuners. La prestation comprend, la réalisation du menu commandé par le client, le service à table par le chef et le rangement de la cuisine. Les locaux (cuisine et salle) doivent être mis à disposition du chef deux heures avant le début du repas. La cuisine doit être propre, en ordre, le réfrigérateur et le congélateur en partie libres pour le stockage de la marchandise de la prestation.
						L'achat d'une ou plusieurs prestations implique de la part du client l'acceptation sans réserve des présentes conditions générales de vente en vigueur au jour de la validation de la prestation.
						<h3>Art 2  Les tarifs</h3>
						Les tarifs des menus sont ceux qui apparaissent sur notre site : Les prix figurant sur le site sont des prix Toutes Taxes Comprises en euro. Le tarif est applicable exclusivement aux particuliers résidant en Ile de France. Au prix des menus peut s'ajouter des services supplémentaires (maître d'hôtel, chef supplémentaire, vin…)
						Autres frais :
						Les devis fournis lors de la première proposition le sont à titre indicatif et peuvent être revus en fonction des précisions apportées par le client. Toutes modifications sur les prestations annexes apportées par le client sont à la charge de celui-ci et fera l’objet d’un nouveau devis. Toutes modifications apportées par le client moins de trois 3 jours avant la prestation sont à la charge de celui-ci sans la nécessité d’un nouvel accord écrit sous la forme d’un nouveau devis confirmé. Le client est seul responsable de tout dommage matériel et/ou corporel, causé par lui-même, ses préposés et/ou ses invités lors d’utilisation de prestations annexes. Le matériel détérioré ou non restitué sera facturé au client à sa valeur de remplacement à neuf, augmentée d’une indemnité destinée à couvrir l’indisponibilité du matériel.
						Frais Kilométriques : Une participation aux frais de transport seront facturés en sus, au delà d’un rayon de 50 kilomètres de Paris, le forfait déplacement est appliqué sur la base des frais réels (0,96€ centimes d’euros le kilomètre, plus péage si nécessaire sur une base d’information / source viamichelin).
						<h3>Art 3 Modalités de paiement et prise de commande</h3>
						Les conditions de facturation sont les suivantes : Les tarifs confirmés sur le devis sont fermes pour deux mois (date du devis). Passé ce délai, ils sont susceptibles d’être modifiés en fonction des conditions économiques, les tarifs applicables étant alors ceux en vigueur le jour de la prestation. Pour chaque demande de prestation on envoie au client un devis. Le nombre exact de participants doit nous être confirmé au minimum 3 jours avant la date de la réception. Ce nombre sera retenu comme base pour la facturation définitive. Le versement d’un acompte à hauteur de 30 % du montant prévu de la facture TTC sera demandé à la confirmation de la réservation. Ce règlement entraîne acceptation des présentes conditions de vente, la reconnaissance d’en avoir parfaite connaissance et la renonciation à se prévaloir de ses propres conditions d’achat ou d’autres conditions. L’ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. Le règlement du solde de la facture s’effectuera le jour de la prestation. Le règlement du solde de la facture s’effectue par payement en ligne .
						Dans le cas où le preneur de commande offre la prestation à un tiers, l’intégralité du règlement sera exigé d’avance.
						<h3>Art 4 Rétractation</h3>
						Le droit de rétractation de sept (7) jours ne s’applique pas pour les contrats de fourniture de produits périssables, agroalimentaires, tels que les produits de confiserie. Aussi, le client ne saurait s’en prévaloir. Toutefois, une modification ou une annulation de sa part pourra être prise en compte dans la mesure où la prestation est en préparation. Le prix sera restitué mais une pénalité pour frais administratifs et de gestion pourra être appliquée. En cas d’annulation jusqu’à une (1) semaine avant la date de la prestation, l’acompte est remboursé intégralement. En cas d’annulation moins d’une (1) semaine avant la date de la prestation : l’annulation de la commande par le client ne donne lieu à aucune restitution de l’acompte versé, qui est conservé à titre d’indemnité forfaitaire. Toute diminution du nombre de participants intervenant plus de quarante-huit heures (48h) avant la date réservée, entraîne une réduction proportionnelle du coût de la prestation. Toute diminution du nombre de participants intervenant moins de quarante-huit heures (48h) la date réservée, ne pourra entraîner aucune réduction du coût de la prestation. Toute annulation intervenant moins de quarante-huit heures (48h) avant la date prévue entraîne la facturation de 100% du montant TTC de la commande. L’augmentation du nombre de convives est acceptée sous réserve d’accord express au minimum 24 heures avant la prestation.
						Cas de Force Majeurs
						On peut se dégager de ses obligations ou en suspendre l’exécution si elle se trouve dans l’impossibilité de les assumer par la suite d’un cas de force majeur sans que cela donne lieu à une quelconque compensation.
						<h3>Art 5 Réclamations</h3>
						En cas de non-conformité ou de vice apparent des prestations livrées, le client bénéficie d’un délai de sept (7) jours à compter de la réception de ceux-ci pour former, par écrit une réclamation auprès des services. Passé ce délai, les produits livrés seront réputés conformes et exempts de tous vices apparents. Toute contestation concernant la facturation ne pourra être prise en compte que dans les huit (8) jours suivants la date de réception de la facture.
						Responsabilité et assurance
						Le client est seul responsable des dommages corporels et / ou matériels causés par lui ou par ses convives dans le cadre de l’exécution de la prestation. Le client s’engage à contracter une assurance responsabilité civile ainsi qu’une assurance multirisques habitation. On engage notre responsabilité civile pour faute sur les prestations effectuée en son nom au domicile de ses clients.
						Protection des données personnelles
						Les informations collectées sur le site internet Domi-Licious feront l’objet d’un traitement informatisé, à des fins de gestion et de traitement des commandes ainsi que de prospection commerciale. Conformément aux dispositions de la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le Client bénéficie d’un droit d’accès, de rectification et d’opposition sur ses données personnelles. Ces droits peuvent être exercés en s’adressant à : l'équipe Domi'Licious.
						<h3>Art 6 Propriété intellectuelle</h3>
						Tous les éléments du site de Domi-Licious sont et restent la propriété intellectuelle et exclusive de l'équipe Domi'Licious Personne n’est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu’ils soient logiciels, visuels ou sonores. Ils sont protégés au titre des droits d’auteur et des articles L.511.1 et suivants du Code de la propriété intellectuelle relatifs à la protection des modèles déposés.
						<h3>Art 7  Modifications</h3>
						L'équipe Domi'Licious se réserve le droit de pouvoir modifier ses conditions générales de vente à tout moment. Dans ce cas, les conditions applicables seront celles en vigueur à la date de la commande par le Client.
						<h3>Art 8  Droit applicable et tribunaux compétents</h3>
						Domi-Licious est une entreprise de droit français. Les présentes conditions de vente ainsi que tous les documents ou actes qui en découlent sont soumises à la loi française. En cas de désaccord entre les parties, chacune fera allégeance pour régler le différent à l’amiable. Si le litige persiste, tout litige ou toute contestation auquel pourrait donner lieu les présentes conditions générales, tant pour leur validité, leur interprétation, ou leur exécution sera porté devant le Tribunal de Commerce de Paris, même en cas de pluralité de défendeurs ou d’appel en garantie.
						Contact
						Pour toute information complémentaire, n’hésitez pas à nous contacter soit par téléphone au 06-99-95-96-58 ou par courriel à domicilious@gmail.com.

				</div>
			</div>
</section>
{% endblock %}
