{% extends 'base.html.twig' %}

{% block title %}Accès privé - Domi'Licious{% endblock %}

{% block body %}
	<section class="box-content box-2 box-style" id="menu">
		<div class="container">
			<div class="row heading">
				<h2>Permission requise !</h2>
				<p>Vous ne pouvez accéder à cette page car vous n'en avez pas l'autorisation.</p>
				<p>Veuillez vous rapprocher de l'équipe Domilicious afin de faire réviser vos droits d'accès.</p>
 			</div>
		</div>
	</section>
{% endblock %}



