<div class="container">
{{ form_start(form) }}

    {{ form_widget(form) }}
    <ul class="list-inline social-buttons">
    <li>
    <button class="btn btn-danger">{{ button_label|default('Envoyer') }}</button>
    </li>
    </ul>
{{ form_end(form) }}
</div>