{% extends 'base.html.twig' %}

{% block title %}Contact - Domi'Licious{% endblock %}

{% block body %}
    <div id="page-content" class="archives-page">
		<div class="container">
			<div class="row">
                <div id="main-content" class="col-md-8">
					<article class="contact">
						<div class="art-header">
							<h2 class="center">Contactez-nous</h2>
						</div>
						    <div class="art-content">
                                <div id="contact_form" id="ff">
               
                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                {{ form(form) }}
                                

                                </div>
                            </div>
						</div>
					</article>
                
                <div id="sidebar" class="col-md-4">
					<div class="widget wid-about">
                        <div class="heading">
                            <h4>A propos de nous</h4>
                        </div>
						<div class="content">
							<img src="{{ asset('images/about3.jpg') }}" />
							<p><strong>Domi'Licious</strong> est notre projet de fin de formation DWWM Webforce 3<br>
                            Promo 2020 Noisy-le-sec<br>
                            Programme WID93 Social Builder</p>
						</div>
                    </div>
                </div>
                <div id="sidebar" class="col-md-4">
					<div class="widget wid-about">
                        <div class="heading">
                            <h5>Fonctionnalités</h5>
                        </div>
						<div class="content">
							<p>
                            <strong>Bouchra Trabelsi:</strong> Création globale des Entity et Fixtures, gestion partie Commentaire<br>
                            <strong>Mounia JafJaf:</strong> Entité User et Chef, Controller Contact<br>
                            <strong>Almarine Grady:</strong> Entité Menu, Solution de paiement, stylisation accueil<br>
                            <strong>Jessica Kuijer:</strong> EasyAdmin, sécurité du site, stylisation ensemble des pages<br>
                            <strong>En groupe :</strong> Debug Router, Debug codes, Debug Fixtures et relations entre les entités.</p>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

